Source: mkdesktophdicons-kanotix
Section: kde
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.6.2

Package: mkdesktophdicons-kanotix
Architecture: all
Depends: bash (>=2.05), gawk
Description: Desktop device icon creator
 Automatic KDE/GNOME Desktop harddisk icon creator for KANOTIX
